*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
}
.slider-box{
    position: relative;
    width: 100%;
    min-width: 1180px;
    height: 350px;
    margin-top: 100px;
}
.wrapper{
    position: absolute;
    width: 1350px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.slider-img-wrapper{
    position: absolute;
    width: 1180px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.slider-img-box{
    width: 8260px;
    height: 100%;
    margin-left: -1180px;
    transition: all 1s ease-in-out;
}
.slider-img-box img{
    display: block;
    float: left;
    width: 1180px;
}
#sliderLeft,#sliderRight{
    position: absolute;
    width: 25px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .3s;
}
.wrapper:hover #sliderLeft{
    opacity: .9;
}
.wrapper:hover #sliderRight{
    opacity: .9;
}
#sliderRight{
    left: 0;
}
#sliderLeft{
    right: 0;
}
#dotNav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    height: 30px;
    box-sizing: border-box;
    padding: 4px 16px;
    opacity: 0;
    border-radius: 15px;
    background-color: rgba(0,0,0,.15);
    transition: opacity .3s;
}
.wrapper:hover #dotNav{
    opacity: 1;
}
#dotNav a{
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    transition: width .2s ease-in-out;
}
#dotNav a span{
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgba(255,255,255,.5);
    border-radius: 6px;
    transition: width .3s ease-out;
}
#dotNav a.active span{
    width: 30px;
}

